<?xml version="1.0"?>

<robot name="zeromess_z1_sim" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="zeromess_z1_sim">

    <gazebo reference="base_link">
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="wheel_left_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="wheel_right_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="caster_front_right_link">
      <mu1>0.0</mu1>
      <mu2>0.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="caster_front_left_link">
      <mu1>0.0</mu1>
      <mu2>0.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="caster_back_right_link">
      <mu1>0.0</mu1>
      <mu2>0.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="caster_back_left_link">
      <mu1>0.0</mu1>
      <mu2>0.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="base_link">
      <mu1>0.3</mu1>
      <mu2>0.3</mu2>
      <sensor type="contact" name="contacts">
        <always_on>1</always_on>
        <update_rate>64</update_rate>
        <visualize>true</visualize>
        <!-- <contact>
          <collision>base_link_fixed_joint_lump__base_collision_collision</collision>
        </contact> -->
        <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
          <bumperTopicName>/robot/bumper_states</bumperTopicName>
          <frameName>world</frameName>
        </plugin>
      </sensor>
    </gazebo>

    <gazebo reference="front_lidar">
      <sensor type="ray" name="laser">
        <always_on>true</always_on>
        <update_rate>64</update_rate>
        <visualize>true</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>901</samples>
              <resolution>1</resolution>
              <min_angle>${-M_PI_2}</min_angle>
              <max_angle>${M_PI_2}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.15</min>
            <max>10.0</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_laser.so">
          <topicName>/scan</topicName>
          <frameName>front_lidar</frameName>
        </plugin>
      </sensor>
    </gazebo>

  <gazebo reference="base_imu">
    <gravity>true</gravity>
    <sensor name="imu" type="imu">
      <always_on>true</always_on>
      <update_rate>64</update_rate>
      <visualize>false</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu_data</topicName>
        <bodyName>base_imu</bodyName>
        <updateRateHZ>64</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>base_imu</frameName>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <commandTopic>cmd_vel</commandTopic>
      <legacyMode>false</legacyMode>
      <alwaysOn>true</alwaysOn>
      <updateRate>64</updateRate>
      <leftJoint>wheel_left_joint</leftJoint>
      <rightJoint>wheel_right_joint</rightJoint>
      <wheelSeparation>0.235</wheelSeparation>
      <wheelDiameter>0.070</wheelDiameter>
      <torque>10</torque>
      <wheelAcceleration>10</wheelAcceleration>
      <robotBaseFrame>base_link</robotBaseFrame>
      <publishTf>true</publishTf>
      <publishWheelTF>true</publishWheelTF>
      <publishWheelJointState>true</publishWheelJointState>
      <publishOdomTF>false</publishOdomTF>
      <wheelTorque>50</wheelTorque>
      <odometrySource>world</odometrySource>
      <rosDebugLevel>na</rosDebugLevel>
    </plugin>
  </gazebo>

  </xacro:macro>
</robot>
