<launch>
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="true" />
  <arg name="world_name" default="$(find gazebo_env)/worlds/BARN/world_0.world" />

  <include file="$(find zeromess_simulations)/launch/zeromess_empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="x_pos" default="-2.0"/>
    <arg name="y_pos" default="3.0"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="gui" value="$(arg gui)" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="link1_link2_broadcaster" args="0.0 0 0.166 0.0 0.0 0.0 1.0 base_link front_lidar 100" />

  <node pkg="gazebo_env" type="collision_publisher_node" name="collision_publisher_node">
	<param name="robot_name" value="zeromess_z1" />
  </node>

</launch>